@page "/contractors"
@inherits ContractorListBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="row pl-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Proveedores</li>
        </ol>
    </nav>
</div>

<div class="row mb-4">
    <div class="col-12 form-inline">
        <h3 class="m-0">Proveedores</h3>
        <div class="ml-4">
            <a href="@($"contractoredit")" class="btn btn-purple btn-sm font-weight-bold ml-1">
                Agregar proveedor
            </a>
        </div>
    </div>
</div>

@if (Contractors == null)
{
    @*<p><em>Cargando...</em></p>*@
    <div class="spinner"></div>
}
else
{
    <div class="inner-addon right-addon">
        <span class="fa fa-search"></span>
        <input @bind-value="SearchText"
               @bind-value:event="oninput" @onkeyup="KeyPressed" placeholder="Búsqueda por nombre"
               class="form-control form-control-border" />
    </div>

    <div class="table-responsive">
        <table class="table table-striped mt-4">
            <thead>
                <tr class="d-flex">
                    <th class="col-4 col-lg-5">Nombre Legal</th>
                    <th class="col-2">RFC</th>
                    <th class="col-2">Ciudad</th>
                    <th class="col-2">Estado</th>
                    <th class="col-2 col-lg-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Letti.Model.Contractor contractor in Contractors)
                {
                    <tr class="d-flex">
                        <td class="col-4 col-lg-5">@contractor.OfficialName</td>
                        <td class="col-2">@contractor.TaxId</td>
                        <td class="col-2">@contractor.City</td>
                        <td class="col-2">@contractor.State</td>
                        <td class="col-2 col-lg-1">
                            <a href="@($"contractordetail/{contractor.Id.ToString()}")">
                                <span class="fa fa-eye text-secondary"></span>
                            </a>
                            <AuthorizeView>
                                <Authorized>
                                    <a href="@($"contractoredit/{contractor.Id.ToString()}")" class="float-right">
                                        <span class="fa fa-pencil-alt text-secondary"></span>
                                    </a>
                                </Authorized>
                            </AuthorizeView>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <Letti.Web.Components.Pagination MetaData="MetaData" Spread="3" SelectedPage="SelectedPage" />
        </div>
    </div>
}
