@page "/organizationedit"
@page "/organizationedit/{OrganizationId}"
@inherits OrganizationEditBase

<div class="row pl-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="organizations">Dependencias</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
        </ol>
    </nav>
</div>

<section>
    @if (!Saved)
    {
        <div class="alert @StatusClass">@Message</div>        

        <div class="row mb-4">            
            <div class="col-12">                
                <div class="card">
                    <div class="card-body">
                        <EditForm Model="@Organization" OnValidSubmit="@HandleValidSubmit">
                            <h3 class="page-title">@Organization.OrganizationName</h3>
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="lastName">Nombre: </label>
                                        <InputText id="lastName" @bind-Value="@Organization.OrganizationName" class="form-control" placeholder="Nombre"></InputText>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="lastName">Nivel: </label>
                                        <InputText id="lastName" @bind-Value="@Organization.OrganizationType" class="form-control" placeholder="Federal, Estatal, Municipal"></InputText>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="lastName">Ciudad: </label>
                                        <InputText id="lastName" @bind-Value="@Organization.City" class="form-control" placeholder="Ciudad"></InputText>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="lastName">Estado: </label>
                                        <InputText id="lastName" @bind-Value="@Organization.State" class="form-control" placeholder="Estado"></InputText>
                                    </div>
                                </div>
                                <div class="col-8 col-lg-4 offset-4 offset-lg-0 align-self-center">
                                    <button type="submit" class="btn btn-purple edit-btn float-right font-weight-bold btn-block mt-3">Guardar Dependencia</button>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="alert @StatusClass">@Message</div>
        <a class="btn btn-secondary text-white font-weight-bold" @onclick="@NavigateToOverview">Regresar a la lista</a>

    }
</section>